@{
    ViewData["Title"] = "Thông tin sinh viên";
}
<div>
    <h1>Thông tin sinh viên</h1>
    </hr>
    <p>Mã sinh viên: 2310900044</p>
    <p>Họ và tên: Bùi Đức Huy</p>
    <p>Lớp:K23CNT1</p>
    <p>Email: buiduchuy2005@gmail.com</p>
    <p>Sđt: 0123456789</p>
</div>

