﻿@{
    ViewData["Title"] = "Thông tin sinh viên";
}
<h1>@ViewData["Title"]</h1>
<hr />
<div class="alert alert-danger">
    <p>Mã sinh viên: 2310900044</p>
    <p>Biệt danh: @ViewBag.about </p>
    <p>Họ tên: Bùi Đức Huy</p>
    <p>Lớp: K23CNT1-NET</p>
    <p>Email: buiduchuy@gmail.com</p>
    <p>Điện thoại: 0123456789</p>
</div>