@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>Microsoft Azure</h1>
    <p>Learn how Microsoft's Azure cloud platform allows you to build, deploy, and scale web apps.</p>
    <button>Learn More</button>

    <h2 class="section-title">Danh sách sản phẩm</h2>
    <div>
        <p>sản phẩm 1</p>
    </div>
    <div>
        <p>sản phẩm 2</p>
    </div>
        <div>
        <p>sản phẩm 3</p>
    </div>
    <div>
        <p>sản phẩm 4</p>
    </div>
</div>
